* {
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;

}

.menu {
    border: 1px solid rgba(146, 146, 146, 0.3);
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
}

.titre {
    padding: 10px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 16px rgba(146, 146, 146, 0.3);
}

.titre img {
    width: 20px;
    height: 20px;
}

.titre p {
    font-weight: 700;
}

.contenu {
    padding: 0 20px;
    height: 0;
    visibility: hidden;
}

.titre img {
    width: 20px;
    height: 20px;
    transition: 0.4s;
}

.menu.open .titre img {
    transform-origin: center;
    transform: rotate(90 deg);
}

.contenu {
    padding: 0 20px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0,4s;
}

.menu.open .contenu {
    padding: 30px 20px;
    height: auto;
    visibility: visible;
}